@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: "Nunito", serif;
  font-size: 10px;
}

body {
  background-color: $background;
}

.search {
  margin-bottom: .2rem;
}

.categories {
  margin-bottom: 3rem;
}

main a {
  width: 90%;
  margin: 0 auto;

  display: block;

  color: $main2;

  font-size: 1.6rem;
  font-weight: 300;

  text-decoration: none;
}
